{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Book Marketplace</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Link to your CSS stylesheet -->
    <link rel="stylesheet" href="/static/login_style.css">
    <link rel="stylesheet" href="/static/alert.css">
    
</head>
<body>
    
    <header>
        <nav>
            <ul>
                <li><a href={% url 'home' %}>Home</a></li>
                <li><a href="browse.html">Buy a book</a></li>
                <li><a href="sell.html">Sell Your Book</a></li>
                <li><a href={% url 'login_page' %}>Login</a></li>
            </ul>
        </nav>
            <h2> Book Forest </h2>
    </header>

